---
import Layout from "../layouts/Layout.astro";
import ContactFormReact from "../components/ContactFormReact";
---

<Layout
  title="Contact | SIA Skin Center"
  description="Contactează-ne pentru programări sau informații suplimentare despre serviciile noastre. Suntem aici pentru a răspunde întrebărilor tale."
>
  <div
    class="relative bg-gradient-to-b from-[rgb(var(--primary-50))] via-[rgb(var(--background))] to-[rgb(var(--background))] dark:from-[rgb(var(--primary-200))]/5 dark:via-[rgb(var(--background))] dark:to-[rgb(var(--background))] py-10 transition-theme"
  >
    <ContactFormReact client:load />
  </div>
</Layout>
