---
import Layout from "../layouts/Layout.astro";
import PricingReact from "../components/PricingReact";
import ButtonAdvert from "../components/shared/ButtonAdvert";
---

<Layout
  title="Prețuri Epilare Definitivă | SIA Skin Center"
  description="Descoperă prețurile accesibile pentru serviciile noastre de epilare definitivă cu laser. Pachete avantajoase pentru femei și bărbați la SIA Skin Center în București."
>
  <main>
    <section class="py-8">
      <div class="py-12 container mx-auto px-4">
        <PricingReact client:load />
      </div>
    </section>
  </main>
</Layout>
